<%= stylesheet_link_tag 'user-actions' %>
<div class="action-container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="user-actions">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%= f.label :email, for:"email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"email", id:"email" %>
      </div>
      <div>
        <%= f.label :new_password, for:"new" %>
        <%= f.password_field :new_password, autocomplete: "new", type:"password", id:"new" %>
      </div>
      <div>
        <%= f.label :new_password_confirmation, for:"new-confirmation" %>
        <%= f.password_field :new_password_confirmation, autocomplete: "new-confirmation", type:"password", id:"new-confirmation" %>
      </div>
      <div>
        <%= f.label :current_password, for:"current-password" %>
        <%= f.password_field :current_password, autocomplete: "current-password", type:"password", id:"current-password" %>
      </div>
      <div>
        <%= f.submit "Change my password", class:"actions btn btn-primary"%>
      </div>
    <% end %>
  </div>
  <div class="cancel-container">
    <h5>Or</h5>
    <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"actions" %></p>
  </div>
  <div class="bottom-container">
    <div><%= link_to "Back", :back %></div>
  </div>
</div>
