<%= stylesheet_link_tag 'user-actions' %>
<div class="action-container">
  <h2>Log in</h2>
  <div class="user-actions">

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"ligma@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Larry Igma" %>
        <% end %>
    </div>

    <hr><hr>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"tkarine@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As James Karine" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"akeira@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Alexandra Keira" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"igiuditta@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Ivan Giuditta" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"gulric@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Gerald Ulric" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"sstephens@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Samantha Stephens" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"mmartin@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Marina Martin" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"breidar@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Bruno Reidar" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"tpaul@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Taylor Paul" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"samalia@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Sean Amalia" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"ejohnson@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Elizabeth Johnson" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"densio@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Dylan Ensio" %>
        <% end %>
    </div>

    <div class="test-user">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value:"gstark@fakecompany.com" %>
            <%= f.hidden_field :password, autocomplete: "current-password", value:"password" %>
            <%= f.submit "Login As Gale Stark" %>
        <% end %>
    </div>
</div>