<%= stylesheet_link_tag 'user-actions' %>
<div class="action-container">
<h2>Log in</h2>
  <div class="user-actions">
    <div class="test-user">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.hidden_field :email, autofocus: true, autocomplete: "email", id:"email", value:"test@example.com" %>
        <%= f.hidden_field :password, autocomplete: "current-password", id:"password", value:"password" %>
      <%= f.submit "Login As Test User", class:"actions btn btn-primary"%>
    <% end %>
    </div>
    <h6>Or</h6>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :email, for:"email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"email", id:"email" %>
      </div>
      <div>
        <%= f.label :password, for:"password" %>
        <%= f.password_field :password, autocomplete: "current-password", type:"password", id:"password" %>
      </div>
      <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :remember_me, id:"rememberme" %>
        <%= f.label :remember_me, for:"rememberme" %>
      </div>
      <% end %>
      <%= f.submit "Log in" %>
    <% end %>
  </div>

  <div class="bottom-container">
    <div><%= link_to "Don't have an account?", new_registration_path(resource_name) %></div>
  </div>
</div>
